:root {
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  --text-primary: #cdc7be;
  --text-secondary: #e6c072;
  --bg-primary: #433551;
  --bg-secondary: #9054a5;
}

body {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font-size: 18px;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: black;
}

body::-webkit-scrollbar-thumb {
  background: #e6c072;
}

h1 {
  font-size: 2.25rem;
  text-align: center;
  color: var(--text-primary);
  margin: auto;
}

h2 {
  text-align: center;
  margin: auto;
}

a {
  color: var(--text-secondary);
  text-decoration: none;
}

th,
td {
  text-align: center;
  padding: 20px;
}

hr {
  border: 1px solid var(--text-secondary);
}

footer {
  border-top: 1px solid var(--text-secondary);
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

ul {
  list-style: none;
}

.paginaEntrada {
  width: 100%;
  color: var(--text-secondary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.marco-foto {
  border-color: var(--text-secondary);
  border-image: none;
  border-radius: 50% 50% 50% 50%;
  border-style: solid;
  border-width: 10px;
  max-height: 25rem;
  max-width: 25rem;
  overflow: hidden;
}


#mathi {
  width: 100%;
  height: 100%;
}

#t2 {
  font-weight: 400;
}

.tabla-conocimientos {
  padding: 2%;
  display: flex;
  flex-flow: row wrap;
  font-size: 1.75rem;
  align-items: center;
  justify-content: space-evenly;
  gap: 5px 10px;
}